@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
}
body{ 
    font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  
}
/* shared items */
.text-items{
    text-align: center;
}
/* nav items */
.nav-items{
    
  
    
    min-height: 652px;
    align-content: center;
    
}
nav{
 
display: flex;
justify-content: space-around;
justify-items: center;
align-items: center;}
.nav-paragraph{
    width: 124px;
height: 36px;
color: rgb(13, 19, 33);
border: 1px solid salmon;
font-size: 26px;
font-weight: 800;
}
.btn-primary{
    width: 228px;
height: 58px;
}
.header-section  {

    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
background-size: cover;
 

}
  
.nav-body-items{
   
  
    max-height: 652px;
}
.nav-body{
 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 998px;
   height: 582px;
   padding: 20px 25px 20px 25px;

} 
#nav-button{
    width: 208px;
height: 66px;
border-radius: 8px;
color: rgb(255, 255, 255);
margin-top: 38px;
font-size: 20px;
font-weight: 600;
background: rgb(13, 19, 33);
}
.header{
    width: 998px;
height: 136px;
text-align: center;
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
}
.header-content{
    width: 852px;
height: 52px;
color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 400;
} 
/* body styles */

/* main items */
.main-header{
 
  
  
   border-radius: 16px;
   background-color: rgba(255, 255, 255, 1);
   
}
.header-items{
    text-align: center;
    width: 852px;
    height: 115px;
    
    margin-top: 80px;
border-radius: 12px;
 
}
.header-items-tittle{
    margin-top: 20px;
    height: 39px;
    color: rgb(13, 19, 33);

font-size: 32px;
font-weight: 800;
}
.header-items-paragraph{
    margin-top: 20px;
    height: 52px;
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
}
.airtcles{
    width: 946px;
height: 336px;
display: flex;
flex-direction: row;

justify-content: center;
align-items: center;
border-radius: 12px;

}
.img{
    width: 259.56px;
height: 217.01px;
}
.main-contant{
    width: 477px;
    height: 220px;
}
.btn-container{
    width: 150px;
height: 40px;
box-sizing: border-box;

opacity: 0.7;
margin-top:6px;
}
.main-contant-header{
    width: 477px;
    height: 72px;
color: rgba(13, 19, 33, 0.7);
padding: 5px;
font-size: 24px;
font-weight: 700;
}
.main-contant-paragraph{
margin-top: 10px;
color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 400;

}
/* about  current setyle */
.about-my-current-target{
border: 2px solid mediumpurple;
padding: 10px;
height: 463px;
width: 1140px;
justify-content: center;
}
.cureent-target-container{
display: flex;
flex-direction: row;
align-items: center;


gap: 10px;

background-color: white;

}
.cureent-skill-1{

align-content: center;

width: 364px;
height: 300px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.cureent-skill-2{

    align-content: center;
    
    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.cureent-skill-3{
    align-content: center;
    width: 364px;
    height: 300px;
    border-radius: 16px;
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.header-current{
    text-align: center;
    width: 852px;
height: 115px;
}
/* media section */
.media-container{
  
height: 777px;
}
.media-header{
    text-align: center;
    width: 852px;
height: 115px; 


}
.media-head{

height: 39px;
color: rgb(13, 19, 33);

font-size: 32px;
font-weight: 800;
}
.media-paragraph{
    color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 400;
height: 52px;
}
.media-section{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
   ;
    border-radius: 16px;
}
/* my next learning target */
.my-next-target{
max-height: 870px;
    
   
}
.next-target-hd{
    height: 115px;
  
    text-align: center
}
.next-target-description{
 align-items: ;
  border: 2px solid mediumspringgreen;
  display: flex;
flex-direction: row;

height: 220px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
   
}
.next-img{
    width: 94.78px;
height: 84.41px;
}
.earning-item{
    width: 941.22px;
height: 140px;
text-align: center;
}
/* footer section */
.footer-header{
   min-height:330px ;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    
    flex-direction: column;
   align-items: center;
    
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.items{
    padding: 64px 48px 64px 48px;
   
    width: 1044px;
height: 186px;


}
.btn-footer{

}
.seacrch{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
    width: 548px;
height: 57px;
border-radius: 8px;
}
.text-f{
    width: 730px;
height: 104px;
}
.submit{
    width: 120px;
height: 57px;
color: rgb(13, 19, 33);
border-radius: 8px;
font-size: 20px;
font-weight: 600;
}
.footer{
    height: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-items{
    height: 36px;
}